<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Contas</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>
        <ion-item-sliding *ngFor="let conta of contasUsuario">
            <ion-item [routerLink]="'/registration-conta/' + conta.id" detail>
                <ion-label>{{conta.descricao + " - " + formatarData(conta.dataVencimento)}}</ion-label>
            </ion-item>
            <ion-item-options side="start">
                <ion-item-option color="danger" (click)="excluirConta(conta.id)">Excluir</ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button routerLink="/registration-conta" color="primary">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>


</ion-content>
<div class="icon alt" *ngIf="even"></div>
<div class="icon" *ngIf="odd"></div>