<ion-header>
    <ion-toolbar>
        <ion-title>
            Página Inicial
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
    <ion-grid>
        <ion-row>
            <ion-col align-self-center>
                <ion-button [routerLink]="['/registration']" expand="full" color="light">Cadastrar</ion-button>
                <ion-button [routerLink]="['/login']" expand="full" color="light">Entrar</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>